:root {
  --main-font-color: #132743;
  --main-lighter-color: #407088;
  --second-color: #ffb5b5;
  --second-lighter-color: #ffcbcb;
}

.fix-top {
  position: fixed;
  top: 0;
  width: 100%;
}

button:hover {
  cursor: pointer;
}

body {
  background-color: var(--second-color);
}

.hero h1 {
  text-align: center;
  font-size: 80px;
  margin: 0;
  color: var(--main-font-color);
}

.hero h2 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0;
  font-size: 60px;
}

.hero h3 {
  text-align: center;
  font-size: 22px;
  margin-top: 7px;
  color: var(--main-lighter-color);
}

.buttons {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.button-1-2 {
  color: var(--main-font-color);
  font-size: 17px;
  font-weight: bold;
  padding: 20px 25px;
  margin: 30px 15px;
  background-color: var(--second-lighter-color);
  border: 2px solid var(--main-font-color);
  border-radius: 6px;
  box-shadow: 2px 2px 2px var(--main-lighter-color);
  transition: all 300ms ease-in-out;
}

.button-1-2:hover {
  color: var(--second-lighter-color);
  background-color: var(--main-lighter-color);
}

.my-apps h4,
p {
  color: var(--main-font-color);
}

.my-apps .app-p {
  padding: 0 30px;
}

.my-apps img {
  padding: 3px;
  border: 3px solid var(--main-font-color);
  border-radius: 6px;
  box-shadow: 2px 2px 2px var(--main-lighter-color);
}

.app-button {
  color: var(--main-font-color);
  font-size: 17px;
  font-weight: bold;
  padding: 20px 25px;
  margin: 5px;
  background-color: var(--second-lighter-color);
  border: 2px solid var(--main-font-color);
  border-radius: 6px;
  box-shadow: 2px 2px 2px var(--main-lighter-color);
  transition: all 300ms ease-in-out;
}

.app-button:hover {
  color: var(--second-lighter-color);
  background-color: var(--main-lighter-color);
}

.signature {
  color: var(--main-font-color);
  text-align: center;
}

.signature a {
  color: var(--main-lighter-color);
}

.about-hero h1,
h3 {
  color: var(--main-font-color);
}

.about-p {
  font-size: 15px;
  text-align: center;
}

.contact-me {
  text-align: center;
  margin-top: 25px;
  font-size: 45px;
  font-weight: bold;
}

.email-link {
  color: var(--main-font-color);
  font-size: 30px;
  margin-bottom: 100px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  h1 {
    font-size: 55px;
  }
  h2 {
    font-size: 35px;
  }
  .app-p {
    width: 100%;
  }
  .app-link {
    display: block;
    text-align: center;
  }
}
